@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); 
@import "./css/popup.css";

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  color: #213547;
  background-color: #E2E8F0;
  
}

/* Dark mode styles */
.dark {
  color: #dadada;
  background-color: #1a1a1a;
}

.dark body {
  background-color: #1a1a1a;
  color: #dadada;
}

.dark html {
  background-color: #1a1a1a;
}

.dark .active-link-text:hover{
  color:#1a1a1a;
}


.input-field {
  width: 100%;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
  /* background-color: #ffffff; bg-white */
  background-color: #E2E8F0;
  color: #000000; /* text-black */
  resize: none;                  /* resize-none */
  outline: none;
  transition: all 0.2s ease;
}
.dark .input-field {
  border-color: #4b5563; /* dark:border-gray-600 */
  /* background-color: #374151; dark:bg-gray-700 */
  background-color: #1a1a1a;
  color: #ffffff; /* dark:text-white */
}
.input-field::placeholder {
  color: #6b7280;              /* dark:placeholder-gray-400 */
}
.dark .input-field::placeholder {
  color: #9ca3af;              /* dark:placeholder-gray-400 */
}

.input-field:focus {
  box-shadow: 0 0 0 2px #5aa1f9; /* focus:ring-2 focus:ring-blue-400 */
  border: transparent;
}

.dark .input-field:focus {
  box-shadow: 0 0 0 2px #3b82f6; /* dark:focus:ring-blue-500 */
}



.active-link {
  color: #00249a;
  text-decoration: none;
}
.dark .active-link {
  color: #3f91f6; 
}
.active-link:hover {
  text-decoration: underline;
}

@keyframes slide-in {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}
.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;  /* Firefox */
}

.combine-bg-main{
  background-color: #d1d5db
}
.dark .combine-bg-main{
  background-color: #1f2937;
}
.combine-bg-2{
  background-color: #d1d5db
}
.dark .combine-bg-2{
  background-color: #1f2937;
}